<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller los Santos</title>
    <meta name="description" content="Taller Mecánico Los Santos en Cagua, Estado Aragua. Ofrecemos servicios de mantenimiento y reparación de vehículos con más de 20 años de experiencia.">
    <meta property="og:title" content="Taller los Santos">
    <meta property="og:description" content="Taller Mecánico Los Santos en Cagua, Estado Aragua. Ofrecemos servicios de mantenimiento y reparación de vehículos con más de 20 años de experiencia.">
    <meta property="og:image" content="URL_de_la_imagen_de_previsualización">
    <meta property="og:url" content="URL_de_la_página">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4MZ2VB0K3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-D4MZ2VB0K3');
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <header role="banner">
        <div class="container">
            <p class="logo">Taller los Santos</p>
            <nav aria-label="Main Navigation">
                <button class="nav-toggle" aria-label="Abrir menú" onclick="toggleMenu()">☰</button>
                <div class="nav-menu">
                    <a href="/">Inicio</a>
                    <a href="/services">Servicios</a>
                    <a href="#contactModal" onclick="openModal()">Contacto</a>
                </div>
            </nav>
        </div>
    </header>

    <main role="main">
        <section class="about-section">
            <div class="content-container">
                <div class="info">
                    <h1>Taller los Santos</h1>
                    <p>Fundado en 1998, Taller los Santos se dedica a ofrecer servicios de mantenimiento y reparación de vehículos en Cagua. Nuestro equipo de técnicos certificados utiliza tecnología avanzada para asegurar diagnósticos precisos y reparaciones de alta calidad.</p>
                    <p>Nos enorgullece nuestra transparencia y dedicación a la satisfacción del cliente, proporcionando diagnósticos claros y detallados y educando a nuestros clientes sobre el cuidado de sus vehículos.</p>
                    <p>Además, estamos comprometidos con la comunidad local, participando en iniciativas de responsabilidad social y programas de formación para jóvenes mecánicos. Confía en Taller los Santos para un servicio rápido, honesto y profesional.</p>
                </div>
                <div class="image-container">
                    <img src="images/about.jpg" alt="Imagen del Taller los Santos">
                </div>
            </div>
        </section>
    </main>

    <footer role="contentinfo">
        <div class="container">
            <p>&copy; Taller Los Santos 2024</p>
        </div>
    </footer>

    <!-- Modal de contacto -->
    <div id="contactModal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h2>Contáctanos</h2>
            <form id="contactForm" action="/contact/add" method="POST" onsubmit="return handleSubmit(event)">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="nombre" placeholder="Escribe tu nombre" required><br>
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" placeholder="Escribe tu correo electrónico" required><br>
                <label for="message">Mensaje:</label>
                <textarea id="message" name="comentario" placeholder="Escribe tu mensaje" required></textarea><br>
                <!-- Widget de reCAPTCHA -->
                <div class="g-recaptcha" data-sitekey="6LdELq8qAAAAAMyxoN3WRlC2PghCmnXcBUc5V34V"></div>
                <button type="submit">Enviar</button>
            </form>
            <div id="confirmationMessage" class="confirmation-message" aria-live="polite">
                ¡Gracias por contactarnos! Nos pondremos en contacto contigo pronto.
            </div>
        </div>
    </div>

    <script>
    function toggleMenu() {
        const navMenu = document.querySelector('.nav-menu');
        navMenu.classList.toggle('show');
    }

    function openModal() {
        document.getElementById('contactModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('contactModal').style.display = 'none';
    }

    window.onclick = function(event) {
        const modal = document.getElementById('contactModal');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    }

    document.getElementById('contactForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Evita el envío real del formulario
        const email = document.getElementById('email').value;
        const message = document.getElementById('message').value.trim();

        if (!validateEmail(email)) {
            alert('Por favor, ingresa una dirección de correo electrónico válida.');
            return;
        }

        if (message === '') {
            alert('Por favor, ingresa tu mensaje.');
            return;
        }

        document.getElementById('confirmationMessage').style.display = 'block'; // Muestra el mensaje de confirmación
        document.getElementById('contactForm').reset(); // Limpia el formulario
    });

    function validateEmail(email) {
        const re = /^[^\s@]+@[^\s@]+.[^\s@]+$/;
        return re.test(String(email).toLowerCase());
    }
    </script>
</body>
</html>
