<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión como Administrador</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="login-container">
        <form class="login-form" action="/auth/admin/login" method="POST">
            <h1>Iniciar Sesión como Administrador</h1>
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" placeholder="Escribe tu nombre de usuario" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" placeholder="Escribe tu contraseña" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>
