<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Opciones de Autenticación</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="auth-options-container">
        <h1>Opciones de Autenticación</h1>
        <div class="auth-buttons">
            <a href="/auth/register" class="btn">Registrarse</a>
            <a href="/auth/login" class="btn">Iniciar Sesión</a>
            <a href="/auth/google" class="btn google-login">Iniciar con Google</a>
            <a href="/auth/admin" class="btn admin-login">Acceder como Administrador</a>
        </div>
    </div>
</body>
</html>
