<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Usuario</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <header role="banner">
        <div class="container">
            <p class="logo">Taller los Santos</p>
            <nav class="nav-menu" aria-label="Main Navigation">
                <a href="/">Inicio</a>
                <a href="/about">Sobre nosotros</a>
                <a href="/maintenance">Mantenimiento Preventivo</a>
                <a href="/repairs">Reparaciones Mecánicas</a>
                <a href="/tires">Servicio de Neumáticos</a>
                <a href="/contact">Contacto</a>
            </nav>
        </div>
    </header>

    <main role="main">
        <div class="register-container">
            <form class="register-form" action="/auth/register" method="POST">
                <h1>Registrar Usuario</h1>
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" placeholder="Escribe tu nombre de usuario" required>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Escribe tu contraseña" required>
                <label for="confirm-password">Confirmar Contraseña:</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirma tu contraseña" required>
                <button type="submit">Registrar</button>
            </form>
        </div>
    </main>

    <footer role="contentinfo">
        <div class="container">
            <p>&copy; Taller Los Santos 2024</p>
        </div>
    </footer>
</body>
</html>
